.slider {
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
}

.thumb {
  background-color: black;
  cursor: pointer;
  width: 2em;
  height: 2em;
  border-radius: 20px;
  margin-top: 0.2em;
}

.slider.break {
  border: 2px solid #ffcb92;
}
.slider.break .thumb {
  background-color: #ffcb92;
}
